//
// Created by atmelfan on 2018-03-20.
//

#ifndef SRC_CARRIER_GAIT_DTS_CONST_H
#define SRC_CARRIER_GAIT_DTS_CONST_H

#define NUM_ADDR_CELLS 1
#define NUM_SIZE_CELLS 0

/*  */
#define LEG_NOP  0
#define LEG_PULL 1
#define LEG_PUSH 2


#ifndef __DTS__

#endif

#endif //SRC_CARRIER_GAIT_DTS_CONST_H
